<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="#/projeto">NotaFiscal.net</a>
      </h1>
      <p class="lead">Um gerador simplificado de <a href="http://www.nfe.fazenda.gov.br/" target="_blank">Notas Fiscais Eletrônicas</a>, desenvolvido em .NET utilizando C#</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="#/projeto">Projeto</a>
      <a class="sidebar-nav-item" href="#/sobre">Sobre</a>
      <a class="sidebar-nav-item" href="#/documentacao">Documentação</a>
      <a class="sidebar-nav-item" href="https://github.com/NotaFiscalNet/NotaFiscalNet/">GitHub</a>
    </nav>
  </div>

  <div class="container sidebar-sticky-down">
    <nav class="sidebar-nav">
      <span class="sidebar-nav-item">Versão Atual v</span>

      <p class="small">&copy; 2016. Todos os direitos reservados.</p>
    </nav>
  </div>
</div>
